 <div #map id="map"  class="leasymap" ></div>

 <div class="toolbar">
 
 

 	<button class="first-btn" (click)="changeEditMode()">         
 		<span *ngIf="editing"><i class="mdi mdi-pencil mdi-24px"></i></span>
        <span *ngIf="!editing"  [ngClass]="getCSSClasses()"><i class="mdi mdi-pencil-off mdi-24px"></i></span>
    </button>
 	<button class="second-btn" (click)="removeLastAdded()"><i class="mdi mdi-delete mdi-24px"></i></button>
 	<button class="third-btn" (click)="onSaveLine()"><i class="mdi mdi-content-save-all mdi-24px"></i></button>
 </div>

