#map { width: 100%; height: 100vh; position: relative; top:0; bottom:0; right:0; left:0;}

.leaflet-draw-toolbar .leaflet-draw-draw-water {
    background-position: -62px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-water {
    background-position: -60px -1px;
}

.toolbar { position: absolute; top: 15%; left: 0.6%; background-color: #fff; width: auto; display: block; border: 2px solid rgba(0,0,0,0.2); border-radius: 4px; z-index: 999;}
.toolbar button{ display: block; width: 100%; background-color: #fff; color: #000; font-size: 12px; border:0; padding: 3px 4px;}
.toolbar button.first-btn{border-top-left-radius: 4px; border-top-right-radius: 4px;}
.toolbar button.second-btn{ border-bottom: 1px solid #ccc !important;  border-top: 1px solid #ccc !important;}
.toolbar button.third-btn{border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}

.toolbar button:hover{ background-color: #f1f1f1; }
.effectOne{ cursor: pointer; }
.effectTwo{ cursor: no-drop; }
